<!DOCTYPE html>
<html lang="en" style="font-size: x-large">
<head>
	<meta charset="UTF-8">
	<title>Settings</title>
	<!-- TODO what about these icons? -->
	<link rel="icon" type="image/png" sizes="32x32" href="icons/icon-16.png" />
	<link rel="icon" type="image/png" sizes="48x48" href="icons/icon-48.png" />
	<link rel="icon" type="image/png" sizes="128x128" href="icons/icon-128.png" />
</head>
<body>

<div class="settings fixed-settings">
	<header id="settings-header">
		<h1 class="header-title">settings</h1>
	</header>

	<%- require('./controls.html.ejs')() %>
</div>
</body>
</html>
