<html lang="en">
	<head>
		<title>Ziyi at the Cinema</title>
	</head>
	<body>
		<main>
			<img id="backdrop" class="loads hidden border-shadow" src="#" alt="backdrop">

			<div id="movie-info-container" class="loads hidden text-shadow">
				<div id="movie-info">
					<p id="movie-name"></p>
					<p id="movie-year"></p>
				</div>
				<a id="movie-link" href="#">
				<img id="poster" class="border-shadow" src="#" alt="poster">
				</a>
			</div>
		</main>
	</body>
</html>
