@font-face
	font-family: Roboto
	src: local(Roboto), url(fonts/roboto-latin-400-normal.woff2) format("woff2")
	font-weight: 400
	font-style: normal

@font-face
	font-family: Merriweather
	src: local(Merriweather), url(fonts/merriweather-latin-400-normal.woff2) format("woff2")
	font-weight: 400
	font-style: normal

body
	background-color: black
	overflow: hidden
	margin: 0

	.show-on-hover
		opacity: 0
		transition: opacity .25s ease-in
	&.ui-active .show-on-hover
		opacity: 1
		transition: opacity .25s ease-out


#header
	position: absolute
	top: 0
	width: 100%
	left: 0

	nav
		float: right
		margin-right: 1em
		margin-top: 1em
		button
			filter: drop-shadow(5px 5px 5px #222)
			background-color: transparent
			outline: none
			border: none

.main
	position: relative
	width: 100%
	height: 100%
	overflow: hidden

	#backdrop-image
		top: -5px
		left: -5px
		position: absolute
		object-fit: cover
		width: calc(100% + 10px)
		height: calc(100% + 10px)
		filter: blur(5px) brightness(65%)

	#review
		position: absolute
		width: 100%
		height: 100%
		display: flex
		justify-content: safe center
		align-items: safe center

		#contents
			font-family: Roboto, sans-serif
			color: grey
			#review-link
				color: grey
			max-width: 90%
			#review-text
				font-family: Merriweather, serif
				color: white
				font-size: 3em
				margin-bottom: 0.1em
				white-space: pre-wrap
			#review-metadata
				font-size: 1em
				margin-bottom: 0.2em
				p
					margin: 0
				#review-heart
					font-size: 0.9em
			#tags
				font-size: 0.8em
				display: inline-flex
				flex-wrap: wrap
				div
					padding-left: 0.2em
					padding-right: 0.2em
					border: 1px solid
					white-space: nowrap
					border-radius: 0.2em 0 0.2em 0.2em
					margin-bottom: 0.3em
				:not(:last-child)
					margin-right: 0.4em

	#movie-info-container
		position: absolute
		bottom: 0
		right: 0
		margin-bottom: 1em
		margin-right: 1em
		display: flex
		color: white

		#poster
			transition: height 0.2s cubic-bezier(.28,.83,.67,1)
			height: 10em
			&:hover
				height: 11em

		#movie-info
			font-family: Roboto, sans-serif
			align-self: flex-end
			margin-right: 1em
			bottom: 0
			text-align: right

			#movie-name
				font-size: 1em
				margin-bottom: 0
				color: white
			#movie-year
				font-size: .8125em
				margin-top: 0.5em

.loads
	opacity: 1
	transition: opacity 1s cubic-bezier(.28,.83,.67,1)

.hidden
	transition: none
	opacity: 0 !important
	pointer-events: none

.border-shadow
	box-shadow: 0 -12px 15px #0000003d,0 17px 50px #00000030

.text-shadow
	text-shadow: 0 -1px 15px black,0 1px 50px black