<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Ziyi at the Cinema</title>
	</head>
	<body>
		<div class="main">
			<div id="backdrop" class="border-shadow loads hidden">
				<img id="backdrop-image" src="#" alt="backdrop">

				<div id="review">
					<div id="contents" class="text-shadow">
						<p id="review-text"></p>
						<div id="review-metadata">
							<a id="review-link" href="#" title="review on letterboxd">
								<span id="review-date"></span>
							</a>
							<p>
								<span id="review-stars"></span>
								<span id="review-heart"></span>
								<span id="review-rewatch"></span>
							</p>
						</div>
						<div id="tags"></div>
					</div>
				</div>
			</div>

			<div id="movie-info-container" class="loads hidden text-shadow">
				<div id="movie-info">
					<p id="movie-name"></p>
					<p id="movie-year"></p>
				</div>
				<a id="movie-link" href="#" title="movie on letterboxd">
					<img id="poster" class="border-shadow" src="#" alt="poster">
				</a>
			</div>
		</div>
	</body>
</html>
