@font-face
	font-family: Roboto
	src: local(Roboto), url(resources/roboto-latin-400-normal.woff2) format("woff2")
	font-weight: 400
	font-style: normal

body
	overflow: hidden
	margin: 0

main
	position: relative
	width: 100%
	height: 100%
	background-color: black

	#backdrop
		top: -5px
		left: -5px
		position: absolute
		object-fit: cover
		width: calc(100% + 10px)
		height: calc(100% + 10px)
		filter: blur(5px) brightness(65%)

	#movie-info-container
		position: absolute
		bottom: 0
		right: 0
		margin-bottom: 1em
		margin-right: 1em
		display: flex
		color: white

		#poster
			transition: height 0.2s cubic-bezier(.28,.83,.67,1)
			height: 10em
			&:hover
				height: 11em

		#movie-info
			font-family: Roboto, sans-serif
			align-self: flex-end
			margin-right: 1em
			bottom: 0
			text-align: right

			#movie-name
				font-size: 1em
				margin-bottom: 0
			#movie-year
				font-size: .8125em
				margin-top: 0.5em

.loads
	opacity: 1
	transition: opacity 1s cubic-bezier(.28,.83,.67,1)
	animation: .5s fadein

.hidden
	opacity: 0 !important
	pointer-events: none

.border-shadow
	box-shadow: 0 -12px 15px #0000003d,0 17px 50px #00000030

.text-shadow
	text-shadow: 0 -1px 15px black,0 1px 50px black