$history-item-margin: 0.2rem;
$history-height: 8rem;
$icon-margin: 1rem;
$icon-size: 2rem;
$metadata-colour: #989898;

@font-face {
	font-family: Roboto;
	src:
		local(Roboto),
		url(fonts/roboto-latin-400-normal.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Merriweather;
	src:
		local(Merriweather),
		url(fonts/merriweather-latin-400-normal.woff2) format("woff2");
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: "Open Sans";
	src:
		local("Open Sans"),
		url(fonts/open-sans-latin-400-normal.woff2) format("woff2");
}

.full-screen {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
html {
	@media (orientation: portrait) {
		font-size: x-large;
	}
}
body {
	background-color: black;
	font-family: Roboto, sans-serif;
	color: white;
}
#header {
	position: absolute;
	top: 0;
	width: 100%;
	left: 0;
}
header {
	box-sizing: border-box;
	width: 100%;
	padding: $icon-margin;
	display: flex;
	.header-title {
		margin-top: 0;
		margin-bottom: 0;
		flex: 1;
		font-size: 1.5rem;
	}
}
nav {
	display: flex;
	> :not(:last-child) {
		margin-right: 0.5rem;
	}
}
label,
input,
details,
button {
	cursor: pointer;
}
#new-tab-link,
.toggle-label {
	background-color: transparent;
	outline: none;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	height: $icon-size;
	width: $icon-size;
	.toggle {
		position: absolute;
		left: 0;
		opacity: 0;
	}
	&:has(.toggle:checked) .only-closed {
		display: none;
	}
	&:not(:has(.toggle:checked)) .only-open {
		display: none;
	}
}
body:has(#history-toggle:checked) #foreground {
	transform: translateY($history-height);
	.scrollable {
		overflow-y: hidden;
	}
}
.slides {
	transition: transform 400ms cubic-bezier(0.28, 0.83, 0.67, 1);
	will-change: transform;
}
@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

#backdrop {
	animation: fadein 1s;
}
#backdrop-image {
	position: absolute;
	object-fit: cover;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
body:has(#darken:checked) #backdrop-image {
	filter: brightness(65%);
}
body:has(#blur:checked) #backdrop-image {
	top: -5px;
	left: -5px;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	filter: blur(5px);
}
body:has(#darken:checked):has(#blur:checked) #backdrop-image {
	filter: blur(5px) brightness(65%);
}
body:has(#spoiler-visibility-click:checked) #review-text.contains-spoiler:not(.clicked) {
	cursor: pointer;
	filter: blur(10px);
	position: relative;
}
body:has(#spoiler-visibility-hide:checked) #review-text.contains-spoiler,
body:not(:has(#show-movie-name:checked)) #movie-name,
body:not(:has(#show-movie-release-year:checked)) #movie-year,
body:not(:has(#show-movie-poster:checked)) #movie-link,
body:not(:has(#show-review-date:checked)) #review-link,
body:not(:has(#show-review-stars:checked)) #review-stars,
body:not(:has(#show-review-rewatch:checked)) #review-rewatch,
body:not(:has(#show-review-heart:checked)) #review-heart,
body:not(:has(#show-review-tags:checked)) #tags,
body:has(#movie-details-visibility-hide:checked) #movie-info-container,
body:has(#review-details-visibility-hide:checked) #review-metadata,
body:has(#menu-visibility-hide:checked) #header {
	display: none !important;
}
body {
	&:has(#menu-visibility-hover:checked) #header,
	&:has(#review-details-visibility-hover:checked) #review-metadata,
	&:has(#movie-details-visibility-hover:checked) #movie-info-container {
		opacity: 0;
	}
}
body:not(.ui-active) {
	&:has(#menu-visibility-hover:checked) #header,
	&:has(#review-details-visibility-hover:checked) #review-metadata,
	&:has(#movie-details-visibility-hover:checked) #movie-info-container {
		pointer-events: none;
	}
}
body.ui-interacted {
	&:has(#menu-visibility-hover:checked) #header,
	&:has(#review-details-visibility-hover:checked) #review-metadata,
	&:has(#movie-details-visibility-hover:checked) #movie-info-container {
		transition: opacity 0.25s ease-in;
	}
}
body.ui-active {
	&:has(#menu-visibility-hover:checked) #header,
	&:has(#review-details-visibility-hover:checked) #review-metadata,
	&:has(#movie-details-visibility-hover:checked) #movie-info-container {
		opacity: 1;
		transition: opacity 0.25s ease-out;
	}
}
body:has(#review-position-center:checked) #review {
	justify-content: safe center;
	align-items: safe center;
}
body:has(#review-position-center-left:checked) #review {
	align-items: safe center;
}
body:has(#review-position-bottom-left:checked) #review {
	align-items: end;
}
#foreground {
	position: relative;
	background-color: black;

	#review {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;

		#review-contents {
			margin: 4rem;
			@media (orientation: landscape) {
				max-width: 60%;
			}
			#review-link {
				color: $metadata-colour;
				display: inline-block;
			}
			#review-text {
				font-family: Merriweather, serif;
				font-size: 3rem;
				margin-bottom: 0.1rem;
				margin-top: 0;
				white-space: pre-wrap;

				* {
					margin: 0;
				}

				a {
					color: white;
				}

				blockquote {
					padding-left: 1rem;
					border-left: 1px solid white;
				}

				* + * {
					margin-top: 1rem !important;
				}
			}
			#review-metadata {
				color: $metadata-colour;
				width: fit-content;
				font-size: 1rem;
				p {
					margin: 0;
				}
				#review-heart {
					font-size: 0.9rem;
				}
			}
			#tags {
				&:not(:has(.tag)) {
					display: none;
				}
				font-size: 0.8rem;
				display: inline-flex;
				flex-wrap: wrap;
				.tag {
					padding-left: 0.2rem;
					padding-right: 0.2rem;
					border: 1px solid;
					white-space: nowrap;
					border-radius: 0.2rem 0 0.2rem 0.2rem;
					margin-bottom: 0.3rem;
					color: $metadata-colour;
					text-decoration: none;
				}
				:not(:last-child).tag {
					margin-right: 0.4rem;
				}
			}
		}
	}
	#movie-info-container {
		position: absolute;
		bottom: 0;
		right: 0;
		margin-bottom: 1rem;
		margin-right: 1rem;
		display: flex;
		color: white;

		#poster {
			aspect-ratio: 2 / 3;
			object-fit: cover;
			height: 10rem;
			border-radius: 0.2rem;
		}
		#movie-info {
			align-self: flex-end;
			margin-right: 1rem;
			bottom: 0;
			text-align: right;
			margin-bottom: 0.8rem;

			#movie-name {
				font-size: 1rem;
				margin-bottom: 0;
				color: white;
			}
			#movie-year {
				font-size: 0.8125rem;
				margin-top: 0.5rem;
				margin-bottom: 0;
			}
		}
	}
}
#history {
	top: 0;
	left: 0;
	position: fixed;
	width: 100%;
	height: $history-height;
	background-color: black;
	display: flex;
	@media (orientation: portrait) {
		.history-item:nth-child(n + 7) {
			display: none;
		}
	}
	.history-item {
		background-color: #1a1a1a;
		flex: 1;
		margin-top: $history-item-margin;
		margin-bottom: $history-item-margin;
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative;
		&.history-placeholder {
			.history-item-image,
			.history-title-container {
				display: none;
			}
		}
		&:not(.history-placeholder) {
			svg {
				display: none;
			}
			cursor: pointer;
		}
		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
		}
		&:not(:hover) .history-title-container {
			display: none;
		}
		.history-title-container {
			color: white;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			background-color: rgba(26, 26, 26, 0.6);
			overflow: hidden;
			text-wrap: nowrap;
			padding: 0.3rem 0 0.3rem 0.3rem;
			box-sizing: border-box;
			span {
				width: 100%;
				display: block;
				mask-image: linear-gradient(to right, black calc(100% - 1rem), transparent calc(100% - 0.1rem));
			}
		}
		svg {
			fill: #313131;
		}
	}
	.history-item:not(:first-child) {
		margin-left: $history-item-margin;
	}
}
body:has(#settings-toggle:checked) #exitable-settings-container {
	transform: none;
	opacity: 1;
}
body.ui-interacted #exitable-settings-container {
	transition:
		transform 250ms ease-in-out,
		opacity 200ms ease-in-out;
}
#exitable-settings-container {
	will-change: opacity, transform;
	transform-origin: calc(100% - $icon-size) $icon-size;
	transform: scale(0);
	opacity: 0;
	width: 16rem;
	position: absolute;
	top: 0;
	right: 0;
	margin: 0.5rem;
	max-height: calc(100% - 1rem);
}
.fixed-settings {
	width: 16rem;
	height: 16rem;
}
.settings {
	font-family: "Open Sans", sans-serif;
	a {
		color: white;
	}
	background-color: #2d2d2d;
	display: flex;
	flex-direction: column;
	border-radius: 0.2rem;

	#settings-contents {
		padding: 0 1rem 1rem 1rem;
		display: flex;
		flex-direction: column;

		.settings-group + .settings-group {
			margin-top: 0.5rem;
		}
		.details-contents {
			will-change: max-height;
			transition: max-height 0.4s ease-in-out;
			max-height: 0;
			overflow: hidden;
			height: fit-content;
		}
		details[open] + .details-contents {
			// TODO need to set each one individually...
			max-height: 70rem;
		}
		.settings-section {
			border-left: 1px solid #484848;
			margin-left: 0.3rem;
			padding-left: 0.5rem;
			border-bottom-left-radius: 0.15rem;
		}
		li {
			display: flex;
			align-items: baseline;
			label {
				display: block;
			}
		}
		ul {
			list-style-type: none;
		}
		ul,
		p {
			margin: 0;
		}
		hr {
			width: 100%;
			border-width: 0;
			border-top: 1px solid #484848;
		}
		button {
			margin: 3px 3px 0 5px;
			display: inline;
			padding: 0;
			border: 0;
			font: inherit;
			background: transparent;
			color: currentColor;
			-webkit-appearance: none;
		}
	}
}
.hidden-until-ready,
.online-only {
	opacity: 1;
	transition: opacity 1s cubic-bezier(0.28, 0.83, 0.67, 1);
}
body.offline .online-only,
.hidden-until-ready:not(.ready) {
	pointer-events: none;
	opacity: 0;
}
body.offline .online-only {
	display: none;
}
.scrollable {
	overflow: scroll;
}
.download-links {
	> *:not(:last-child) {
		margin-right: 1rem;
	}
	margin: 0.5rem 0 0.5rem 0.5rem;
	display: flex;
	align-items: center;
	justify-items: center;
}
.bobs-club-group {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 0.7rem;
	a:has(svg) {
		text-decoration: none;
	}
	svg {
		width: 1rem;
	}
}
@media screen and (prefers-reduced-motion: reduce) {
	* {
		transition: none !important;
		animation: none !important;
	}
}
