$history-item-margin: 0.5rem
$history-height: 8rem

@font-face
	font-family: Roboto
	src: local(Roboto), url(fonts/roboto-latin-400-normal.woff2) format("woff2")
	font-weight: 400
	font-style: normal

@font-face
	font-family: Merriweather
	src: local(Merriweather), url(fonts/merriweather-latin-400-normal.woff2) format("woff2")
	font-weight: 400
	font-style: normal

html, body
	width: 100%
	height: 100%
	margin: 0
	padding: 0

html
	@media (orientation: portrait)
		font-size: x-large

body
	overflow: hidden
	background-color: black

	.show-on-hover
		opacity: 0
	&.ui-interacted .show-on-hover
		transition: opacity .25s ease-in
	&.ui-active .show-on-hover
		opacity: 1 !important
		transition: opacity .25s ease-out

#header
	position: absolute
	top: 0
	width: 100%
	left: 0

	nav
		float: right
		margin-right: 1rem
		margin-top: 1rem
		display: flex
		label:not(:last-child)
			margin-right: 0.5rem
		label
			filter: drop-shadow(5px 5px 5px #222)
			background-color: transparent
			outline: none
			border: none
			display: flex
			justify-content: center
			align-items: center
			svg
				width: auto
				height: 2rem

label:has(.toggle)
	&, *
		cursor: pointer
	.toggle
		position: absolute
		left: 0
		opacity: 0
	&:has(.toggle:checked) .only-open
		display: none
	&:not(:has(.toggle:checked)) .only-closed
		display: none

body:has(#history-toggle:checked) #main
	transform: translateY($history-height)
	#review
		overflow: hidden

#main
	position: relative
	width: 100%
	height: 100%
	background-color: black
	overflow: hidden
	transition: transform .3s cubic-bezier(.28,.83,.67,1)
	will-change: transform


	#backdrop-image
		top: -5px
		left: -5px
		position: absolute
		object-fit: cover
		width: calc(100% + 10px)
		height: calc(100% + 10px)
		filter: blur(5px) brightness(65%)

	#review
		position: absolute
		width: 100%
		height: 100%
		display: flex
		justify-content: safe center
		align-items: safe center
		overflow: scroll

		#contents
			font-family: Roboto, sans-serif
			color: grey
			margin: 4rem
			@media (orientation: landscape)
				max-width: 60%
			#review-link
				display: inline-block
				color: grey
			#review-text
				font-family: Merriweather, serif
				color: white
				font-size: 3rem
				margin-bottom: 0.1rem
				margin-top: 0
				white-space: pre-wrap
			#review-metadata
				width: fit-content
				font-size: 1rem
				p
					margin: 0
				#review-heart
					font-size: 0.9rem
			#tags
				&:not(:has(.tag))
					display: none

				font-size: 0.8rem
				display: inline-flex
				flex-wrap: wrap
				.tag
					padding-left: 0.2rem
					padding-right: 0.2rem
					border: 1px solid
					white-space: nowrap
					border-radius: 0.2rem 0 0.2rem 0.2rem
					margin-bottom: 0.3rem
					color: grey
					text-decoration: none
				:not(:last-child).tag
					margin-right: 0.4rem

	#movie-info-container
		position: absolute
		bottom: 0
		right: 0
		margin-bottom: 1rem
		margin-right: 1rem
		display: flex
		color: white

		#poster
			aspect-ratio : 2 / 3
			object-fit: cover
			height: 10rem
			border-radius: .2rem

		#movie-info
			font-family: Roboto, sans-serif
			align-self: flex-end
			margin-right: 1rem
			bottom: 0
			text-align: right

			#movie-name
				font-size: 1rem
				margin-bottom: 0
				color: white
			#movie-year
				font-size: .8125rem
				margin-top: 0.5rem

#history
	top: 0
	left: 0
	position: fixed
	width: 100%
	height: $history-height
	background-color: black
	display: flex
	@media (orientation: portrait)
		.history-item:nth-child(n + 7)
			display: none
	.history-item
		background-color: #1a1a1a
		flex: 1
		margin-top: $history-item-margin
		margin-bottom: $history-item-margin
		margin-right: $history-item-margin
		display: flex
		justify-content: center
		align-items: center
		position: relative
		&:not(.history-placeholder)
			svg
				display: none
			cursor: pointer
		img
			object-fit: cover
			width: 100%
			height: 100%
		&:not(:hover) .title-container
			display: none
		.title-container
			font-family: Roboto, sans-serif
			color: white
			position: absolute
			left: 0
			bottom: 0
			width: 100%
			background-color: rgba(26, 26, 26, 0.6)
			overflow: hidden
			text-wrap: nowrap
			padding: 0.3rem 0 0.3rem 0.3rem
			box-sizing: border-box
			span
				width: 100%
				display: block
				mask-image: linear-gradient(to right, black calc(100% - 1rem), transparent calc(100% - 0.1rem))

		svg
			fill: #313131
	.history-item:first-child
		margin-left: $history-item-margin

.loads
	opacity: 1
	transition: opacity 1s cubic-bezier(.28,.83,.67,1)

.hidden
	// TODO this is probably not going to work for fadeout!
	transition: none
	opacity: 0 !important
	pointer-events: none

.border-shadow
	box-shadow: 0 -12px 15px #0000003d,0 17px 50px #00000030

.text-shadow
	text-shadow: 0 -1px 15px black,0 1px 50px black

@media screen and (prefers-reduced-motion: reduce)
	*
		transition: none !important
		animation: none !important